{% extends "main.html" %}
{% block content %}

	<div class="row text-center padding-top padding-bottom">



		<h1>Companies<br><span class="small">The best jobs from the worst companies!</small></h1>

		{% for c in companies %}

		<div class="text-center">
			<a class="" href = "{{url_for('showCompany', company_id = c.id)}}">

				<h3>{{c.name}}</h3>

			</a>
		</div>

		{% endfor %}

		<div style="padding-top:30px;">
			<a href="{{url_for('newCompany')}}">
				<button class="btn btn-default btn-lg">Add Company
				</button>
			</a>
		</div>

	</div>

{% endblock %}
